In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/pitch_data_2024.csv')

In [3]:
df

,Rk,Player,Age,Team,Lg,WAR,W,L,W-L%,ERA,...,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/BB,Awards,Player-additional
0,1.0,Logan Gilbert,27.0,SEA,AL,2.8,9.0,12.0,0.429,3.23,...,113.0,3.27,0.887,6.4,1.1,1.6,9.5,5.95,ASCYA-6,gilbelo01
1,2.0,Seth Lugo,34.0,KCR,AL,5.3,16.0,9.0,0.640,3.00,...,141.0,3.25,1.089,7.7,0.7,2.1,7.9,3.77,ASCYA-2MVP-15GG,lugose01
2,3.0,Logan Webb,27.0,SFG,NL,3.7,13.0,10.0,0.565,3.47,...,111.0,2.95,1.231,8.9,0.5,2.2,7.6,3.44,ASCYA-6,webblo01
3,4.0,Zack Wheeler,34.0,PHI,NL,6.1,16.0,7.0,0.696,2.57,...,158.0,3.13,0.955,6.3,0.9,2.3,10.1,4.31,ASCYA-2MVP-12,wheelza01
4,5.0,Aaron Nola,31.0,PHI,NL,3.6,14.0,8.0,0.636,3.57,...,114.0,3.94,1.199,8.5,1.4,2.3,8.9,3.94,CYA-11,nolaaa01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1091.0,Luis Torrens,28.0,NYM,NL,0.0,0.0,0.0,NaN,0.00,...,NaN,3.17,0.000,0.0,0.0,0.0,0.0,NaN,NaN,torrelu01
1091,1092.0,Patrick Wisdom,32.0,CHC,NL,0.0,0.0,0.0,NaN,0.00,...,NaN,12.17,6.000,27.0,0.0,27.0,0.0,0.00,NaN,wisdopa01
1092,1093.0,Carl Edwards Jr.,32.0,SDP,NL,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,edwarca01
1093,1094.0,Wander Suero,32.0,HOU,AL,0.0,0.0,1.0,0.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,suerowa01
1094,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,0.500,4.08,...,100.0,4.08,1.270,8.3,1.1,3.1,8.6,2.76,NaN,-9999

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 1094 non-null   float64
 1   Player             1095 non-null   object
 2   Age                1094 non-null   float64
 3   Team               1094 non-null   object
 4   Lg                 1094 non-null   object
 5   WAR                1094 non-null   float64
 6   W                  1094 non-null   float64
 7   L                  1094 non-null   float64
 8   W-L%               808 non-null    float64
 9   ERA                1091 non-null   float64
 10  G                  1094 non-null   float64
 11  GS                 1094 non-null   float64
 12  GF                 1094 non-null   float64
 13  CG                 1094 non-null   float64
 14  SHO                1094 non-null   float64
 15  SV                 1094 non-null   float64
 16  IP                 1094 non-null   float64
 17  H                  1094 non-null   float64
 18  R                  1094 non-null   float64
 19  ER                 1094 non-null   float64
 20  HR                 1094 non-null   float64
 21  BB                 1094 non-null   float64
 22  IBB                1094 non-null   float64
 23  SO                 1094 non-null   float64
 24  HBP                1094 non-null   float64
 25  BK                 1094 non-null   float64
 26  WP                 1094 non-null   float64
 27  BF                 1094 non-null   float64
 28  ERA+               1027 non-null   float64
 29  FIP                1091 non-null   float64
 30  WHIP               1091 non-null   float64
 31  H9                 1091 non-null   float64
 32  HR9                1091 non-null   float64
 33  BB9                1091 non-null   float64
 34  SO9                1091 non-null   float64
 35  SO/BB              1032 non-null   float64
 36  Awards             40 non-null     object
 37  Player-additional  1095 non-null   object
dtypes: float64(33), object(5)
memory usage: 325.2+ KB

In [5]:
df[["IP", "ERA", "SO", "HR", "BB", "HBP", "SHO", "W", "L", "WHIP"]].corr()

,IP,ERA,SO,HR,BB,HBP,SHO,W,L,WHIP
IP,1.000000,-0.181922,0.967970,0.900328,0.904319,0.671709,0.265055,0.885785,0.856609,-0.213835
ERA,-0.181922,1.000000,-0.187633,-0.102933,-0.158130,-0.112830,-0.026383,-0.178469,-0.117197,0.904566
SO,0.967970,-0.187633,1.000000,0.847261,0.884158,0.653032,0.247764,0.886326,0.820368,-0.221218
HR,0.900328,-0.102933,0.847261,1.000000,0.824488,0.600170,0.191934,0.750390,0.833299,-0.148267
BB,0.904319,-0.158130,0.884158,0.824488,1.000000,0.659740,0.219445,0.775465,0.830380,-0.161599
HBP,0.671709,-0.112830,0.653032,0.600170,0.659740,1.000000,0.112731,0.585246,0.590492,-0.146726
SHO,0.265055,-0.026383,0.247764,0.191934,0.219445,0.112731,1.000000,0.266397,0.185971,-0.036466
W,0.885785,-0.178469,0.886326,0.750390,0.775465,0.585246,0.266397,1.000000,0.690038,-0.209380
L,0.856609,-0.117197,0.820368,0.833299,0.830380,0.590492,0.185971,0.690038,1.000000,-0.143507
WHIP,-0.213835,0.904566,-0.221218,-0.148267,-0.161599,-0.146726,-0.036466,-0.209380,-0.143507,1.000000

In [14]:
reduced_df = df[["Player", "SO", "BB", "WHIP", "W", "L", "IP", "ERA", "Team"]]

In [15]:
reduced_df

                Player     SO    BB   WHIP     W     L     IP   ERA Team
0        Logan Gilbert  220.0  37.0  0.887   9.0  12.0  208.2  3.23  SEA
1            Seth Lugo  181.0  48.0  1.089  16.0   9.0  206.2  3.00  KCR
2           Logan Webb  172.0  50.0  1.231  13.0  10.0  204.2  3.47  SFG
3         Zack Wheeler  224.0  52.0  0.955  16.0   7.0  200.0  2.57  PHI
4           Aaron Nola  197.0  50.0  1.199  14.0   8.0  199.1  3.57  PHI
...                ...    ...   ...    ...   ...   ...    ...   ...  ...
1090      Luis Torrens    0.0   0.0  0.000   0.0   0.0    0.1  0.00  NYM
1091    Patrick Wisdom    0.0   1.0  6.000   0.0   0.0    0.1  0.00  CHC
1092  Carl Edwards Jr.    0.0   2.0    NaN   0.0   0.0    0.0   NaN  SDP
1093      Wander Suero    0.0   0.0    NaN   0.0   1.0    0.0   NaN  HOU
1094    League Average    NaN   NaN  1.270   NaN   NaN    NaN  4.08  NaN

[1095 rows x 9 columns]

In [16]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  1095 non-null   object
 1   SO      1094 non-null   float64
 2   BB      1094 non-null   float64
 3   WHIP    1091 non-null   float64
 4   W       1094 non-null   float64
 5   L       1094 non-null   float64
 6   IP      1094 non-null   float64
 7   ERA     1091 non-null   float64
 8   Team    1094 non-null   object
dtypes: float64(7), object(2)
memory usage: 77.1+ KB

In [17]:
reduced_df.dropna(inplace=True)

C:\Users\santanamorenat6547\AppData\Local\Temp\ipykernel_24016\1068235543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df.dropna(inplace=True)

In [18]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1090 entries, 0 to 1091
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  1090 non-null   object
 1   SO      1090 non-null   float64
 2   BB      1090 non-null   float64
 3   WHIP    1090 non-null   float64
 4   W       1090 non-null   float64
 5   L       1090 non-null   float64
 6   IP      1090 non-null   float64
 7   ERA     1090 non-null   float64
 8   Team    1090 non-null   object
dtypes: float64(7), object(2)
memory usage: 85.2+ KB

In [19]:
reduced_df.Player.value_counts()

Player
Mike Baumann           8
Yohan Ramírez          7
Matt Bowman            6
Mitch White            5
Enyel De Los Santos    5
                      ..
Ben Brown              1
Aaron Bummer*          1
Justin Slaten          1
Keaton Winn            1
Patrick Wisdom         1
Name: count, Length: 851, dtype: int64

In [20]:
reduced_df.query("Player == 'Mike Baumann'")

           Player    SO    BB   WHIP    W    L    IP    ERA Team
369  Mike Baumann  58.0  28.0  1.491  3.0  1.0  58.1   5.55  5TM
370  Mike Baumann  39.0  21.0  1.500  3.0  0.0  44.0   4.91  3TM
371  Mike Baumann  19.0   7.0  1.465  0.0  1.0  14.1   7.53  2TM
372  Mike Baumann  16.0   9.0  1.473  1.0  0.0  18.1   3.44  BAL
373  Mike Baumann  16.0   8.0  1.286  2.0  0.0  16.1   5.51  SEA
374  Mike Baumann   1.0   0.0  4.500  0.0  0.0   0.2  27.00  SFG
375  Mike Baumann   7.0   4.0  1.929  0.0  0.0   9.1   6.75  LAA
376  Mike Baumann  18.0   7.0  1.317  0.0  1.0  13.2   6.59  MIA

In [21]:
# drop rows where team = r'\d+TM'

reduced_df = reduced_df[~reduced_df.Team.str.contains(r'\d+TM')]

In [22]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 972 entries, 0 to 1091
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  972 non-null    object
 1   SO      972 non-null    float64
 2   BB      972 non-null    float64
 3   WHIP    972 non-null    float64
 4   W       972 non-null    float64
 5   L       972 non-null    float64
 6   IP      972 non-null    float64
 7   ERA     972 non-null    float64
 8   Team    972 non-null    object
dtypes: float64(7), object(2)
memory usage: 75.9+ KB

In [24]:
reduced_df.Player.value_counts()

Player
Mike Baumann           5
Yohan Ramírez          4
Matt Bowman            4
Mitch White            3
Enyel De Los Santos    3
                      ..
Ben Brown              1
Aaron Bummer*          1
Justin Slaten          1
Keaton Winn            1
Patrick Wisdom         1
Name: count, Length: 851, dtype: int64